{% extends 'base.html' %}

{% load static %}

{% block title %}
    List of files
{% endblock %}

{% block content %}
    
    <h3>Links files of experiments</h3>
    <br />

    <div class="files-expe">

        <br/>
        {% if folder %}

            <!-- List of items which has identifier when user pass experiment -->
            <h3>List of files</h3>
            <ul class="list-group">

                {% for file in folder %} 
                                    
                    <li class="list-group-item">
                        
                        <div class="row">
                            <div class="col-md-11">{{file}} </div>
                            <div class="col-md-1 files-list" data-redirect-path="{{file}}"><i class="fas fa-arrow-circle-right"></i></div>
                        </div>
                    </li>
                {% endfor %} 
            </ul>


        {% else %}
            <div class="alert alert-warning" role="alert">
                <i>Experiment folder is empty</i>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{% static "js/files.js" %}"></script>
{% endblock %}

