{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Links list
{% endblock %}

{% block content %}
    
    <h3>Select your user identifier</h3>
    <br />

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="GET" action="/expe">
                <div class="form-group">
                    <input type="number" min="0" class="form-control" name="userId" placeholder="Enter your user identifier"/>
                </div>
            </form>
        </div>
    </div>

    <br />
    <hr />
    <br />

    <ul class="list-group" id="links-list">
    
    </ul>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"> 
        // Utils informations
        var links = "{{links}}"
    </script>
    <script src="{% static "js/links.js" %}"></script>
{% endblock %}

